.outer {
  text-align: center;
}

.subTitle {
  font-size: var(--fs-40);
  color: var(--c-secondary);
  font-family: var(--roboto-font);
  margin: 0 0 4.5rem 0;
}

.title {
  font-size: var(--fs-56);
  font-family: var(--roboto-font);
}

.text {
  font-size: var(--fs-20);
  color: var(--c-body-text);
  margin: 0 0 2rem 0;
}

.image {
}

@media (max-width: 630px) {
  .subTitle {
    margin: 0 0 3rem 0;
  }
  .title {
    line-height: 1.2;
    margin: 0 0 3rem 0;
  }
}
